
<div class="row">
  <% for entry in @entries %>
    <div class="col-3">
      <h4><%= entry["title"] %></h4>
      <p><%= entry["description"] %></p>
      <p><%= entry["occurred_on"] %></p>
    </div>
  <% end %>
</div>

