<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title">
  </p>
  <p>
    <label for="description">Description</label>
    <input type="text" name="description">
  </p>
  <p>
    <label for="occured_on">Occurred On</label>
    <input type="date" name="occured_on">

<!-- transfer state from the previous action to the next -->
  <p>
   
    <input type="hidden" name="place_id" value="<%= @place["id"] %>">
  </p>
  </p>
  <button>Submit</button>
</form>